*{
    font-family: 'PT Sans', sans-serif;
    cursor: url(./../images/attract_design.png), auto;
}
nav{
    transition: all 0.5s;
    background-color: rgba(0, 0, 0, 0.2) !important;
}
.nav-scroll{
    box-shadow: 0 3px 6px #00000029;
}
#services ul{
    padding: 0 33.333%;
}
.vh-75{
    height: 75vh;
}
.vh-50{
    height: 50vh;
}

#home{
    background-color: rgba(0, 0, 0, 1);
}
#services{
    background-color: #f3f3f3;
}
#services h2{
    font-size: 2.8rem;
    font-weight: 700;
    color: white;
    position: relative;
    margin: 2rem 0;
}
#strategy::before{
    content: "Design without";
    font-size: 1rem;
    font-weight: 600;
    color: brown;
    position: absolute;
    text-transform: none;
    top: -10px;
    left: 50%;
}
#strategy::after{
    content: "is just art";
    font-size: 1rem;
    font-weight: 600;
    color: brown;
    position: absolute;
    text-transform: none;
    bottom: -10px;
    left: 55%;
}
#design::after{
    content: "is intelligence made visible";
    font-size: 1rem;
    font-weight: 600;
    color: brown;
    position: absolute;
    text-transform: none;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto;
}
#marketing::after{
    content: "Your story deserves to be told";
    font-size: 1rem;
    font-weight: 600;
    color: brown;
    position: absolute;
    text-transform: none;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto;
}
#services li{
    line-height: 1.5rem;
}
.section-title{
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 3rem;
}
.section-title h2{
    color: transparent;
    opacity: 0.4;
    font-size: 4.25rem;
    text-transform: uppercase;
    width: 100%;
}
.section-title p{
    font-size: 2rem;
    width: 100%;
    position: absolute;
    margin: auto;
    color: white;
}
.section-title span{
    border-bottom: 1px solid #dee2e6;
    border-width: 3px;
    border-color: white;
    width: 80px;
    position: absolute;
    margin: auto;
    margin-top: 55px;
}

.counter-icon{
    height: 60px;
    width: 60px;
    line-height: 1.8;
    box-shadow: 0 0 0 10px #cde1f8;
    font-size: 2rem;
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
}
.counter-num{
    font-size: 2rem;
    margin: 0;
}
.counter-item i{
    position: relative;
    color: brown;
    margin-bottom: 1.8rem;
}
#why_attract{
    padding: 1rem 0;
}
#customers{
    background-color: #f3f3f3;
    padding: 2rem 0;
}
#contact{
    color: #555;
}
#contact h4{
    color: white;
}
#contact i{
    color: white;
    font-size: 1.25rem;
    /* margin-right: 1rem; */
    
}
#contact .social a{
    text-decoration: none;
    color: white;
    transition: all 0.5s;
}
#contact .social a:hover{
    color: #2463c3;
}
#contact .social li{
    list-style: none;
    display: inline-block;
    font-size: 1.4rem;
    margin-right: 10px;
}
.nav-link{
    color: white;
    transition: all 0.5s;
}
.nav-link:hover{
    color: white !important;
}
.car_ind{
    position: relative !important;
}
.car_ind button{
    background-color: white !important;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: white;
    border-radius: 50%;
}
footer span{
    color: white;
    font-weight: 600;
    margin-left: 5px;
}
#about .row h2{
    text-indent: 15px;
    margin-bottom: 1rem;
    color: white;
    font-style: italic;
    font-weight: 600;
}